body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Muli', 'Rubik', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  position: relative;
  border: 1px solid #003062;
  text-align: center;
  display: inline-block;
  color: #003062;
  background-color: transparent;
  padding: 1rem;
  font-size: 1.5rem;
  transition: 0.4s;
}

button:hover {
  color: white;
  background-color: #003062;
}

button:active {
  opacity: 0.6;
}

buttonload {
  background-color: #003062;
  border: none;
  color: white;
  padding: 1rem;
  font-size: 1.5rem;
}

.fa {
  margin-left: 0.5rem;
  margin-right: 1rem;
}